@model List<ProductVM>

@inject IHttpContextAccessor HttpContextAccessor
@{
    var lstShopping = HttpContextAccessor.HttpContext.Session.Get<List<int>>(SessionHelper.ShoppingCart);
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>

    <table id="table" class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Image</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Is in stoc</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in lstShopping)
            {
                <tr id="@item">
                    <td hidden>@item</td>
                </tr>
            }

        </tbody>

        <br>

</body>
</html>